<div class="gallery-section">
    <div class="gallery-container">

        <div class="gallery-item">
            <img src="{{ site.baseurl }}/assets/screenshot/image1.png" alt="Game Modes" />
            <div class="gallery-caption">
                <p>Choose your favorite game mode</p>
            </div>
        </div>

        <div class="gallery-item">
            <img src="{{ site.baseurl }}/assets/screenshot/image4.png" alt="Leaderboard" />
            <div class="gallery-caption">
                <p>Rise to the top of the leaderboard</p>
            </div>
        </div>

        <div class="gallery-item">
            <img src="{{ site.baseurl }}/assets/screenshot/image5.png" alt="Friends" />
            <div class="gallery-caption">
                <p>Clash with friends for the crown</p>
            </div>
        </div>

    </div>
</div>